/* Global CSS for all pages */

* {
  /* Sizing helper: See Workbook 1b, page 2-33. */
  box-sizing: border-box;

  /*
       Vizualization helper: While styling or debugging your HTML & CSS,
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't
       want to see it!)
    */
  /* outline: 1px dotted red; */
}

:root {
  font-size: 1rem;
}

body {
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);

  display:flex;
  


}

nav a {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: large;
  padding: 1rem;
}

nav a:hover {
  color: black;
  background-color: white;
}

.card{
vertical-align: top;
min-height: 30rem;
margin: 1rem;
display: inline-block
}


#cardContainer {
margin: 2rem;
padding: 2rem;
/* display: flex; */
width: 100vw;
vertical-align: top;
}
